body {
    font-family: 'Times New Roman', Times, serif
}

.info_bio {
    border: 1px solid black;
    float: right;
    background-color: rgb(235, 233, 233);
    margin-right: 20px
}

.jumplinks {
    border: 1px solid black;
    width: fit-content;
    padding-right: 20px;
}

.bodyimage {
    border: 1px solid black;
    
}


.rightinfo {
    padding: 10px;
}

.adam_eve_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.bio_left {
    text-align: left;
    padding: 10px;
}